<h2>Create Appointment</h2>

<div>
  <label>Patient</label>
  <select [(ngModel)]="selectedPatientId">
    <option value="" disabled>Select patient</option>
    <option *ngFor="let p of patients" [value]="p.id">
      {{ p.firstName }} {{ p.lastName }}
    </option>
  </select>
</div>

<div class="mt-4" *ngIf="slots.length > 0">

  <h5>Select Time Slot</h5>

  <div class="d-flex flex-wrap gap-2 mt-2">

    <button
      *ngFor="let slot of slots"
      type="button"
      class="btn"
      [ngClass]="{
        'btn-success': slot.status === 'AVAILABLE' && selectedSlot?.start !== slot.start,
        'btn-primary': selectedSlot?.start === slot.start,
        'btn-danger': slot.status === 'BOOKED',
        'btn-dark': slot.status === 'BLOCKED',
        'btn-secondary': slot.status === 'EXPIRED'
      }"
      [disabled]="slot.status !== 'AVAILABLE'"
      (click)="selectSlot(slot)">

      {{ slot.start }}
    </button>

  </div>

</div>

<div>
  <button (click)="create()"
          [disabled]="loading || !selectedPatientId || !scheduledAt">
    {{ loading ? 'Creating...' : 'Create' }}
  </button>

  <button routerLink="/appointments">
    Cancel
  </button>
</div>
